<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Basic Express Site</title>
    <link rel="stylesheet" href="/stylesheets/about.css" />
  </head>
  <body>
    <div class="navbar">
        <div class="navbar-items">
          <h3>ZAC ROY</h3>
          <div class="navlinks">
            <ul class="links">
              <a class="link" href="/home">Home</li>
              <a class="link" href="/works">Works</li>
              <a class="link" href="/photos">Photos</li>
            </ul>
          </div>
        </div>
    </div>

  
  </body>
</html>