<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@900&display=swap" rel="stylesheet">
    <title>Basic Express Site</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-items">
          <h3>ZAC ROY</h3>
          <div class="navlinks">
            <ul class="links">
              <a class="link" href="/about">About</li>
              <a class="link" href="/works">Works</li>
              <a class="link" href="/photos">Photos</li>
            </ul>
          </div>
        </div>
      </div>

    
</body>
</html>