body {
    background-color: AliceBlue;
    max-width: 75em;
    margin: 0 auto;
    font-family: 'Azeret Mono', monospace;
  }
  .navbar {
    max-width: 75em;
    position: fixed;
    width: 100%;
    padding: 0;
    margin: 0px -2px 0px -2px;
  }
  .navbar-items {
    background-color: #262626;
    display: block;
    position: relative;
    height: 3em;
  }
  h3 {
    left: 1em;
    position: relative;
    bottom: 0;
    display: inline-block;
    padding: 0;
    color: white;
  }
  .navlinks {
    position: absolute;
    display: inline-block;
    right: 0.5em;
    bottom: 0;
  }
  .links {
    right: 1em;
    list-style-type: none;
  }
  .link {
    color: white; 
    font-family: "Droid Sans";
    display: inline-block;
    padding: 0 0.5em 0 0.5em;
  }